<ion-toolbar>    
</ion-toolbar>

<ion-content [fullscreen]="true">
    
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
    <ion-toolbar class="ion-align-items-center">
        <ion-chip>Ingredientes</ion-chip>
        <ion-chip>Categorías</ion-chip>
        <ion-buttons slot="end">
            <ion-button id="click-trigger">
                <ion-icon name="filter-outline"></ion-icon>
            </ion-button>
            <ion-popover trigger="click-trigger" triggerAction="click">
                <ng-template>
                    <ion-list>
                        <ion-item button>
                            <ion-label>Próximos a vencer</ion-label>
                        </ion-item>
                        <ion-item button>
                            <ion-label>Mayor cantidad</ion-label>
                        </ion-item>
                        <ion-item button>
                            <ion-label>Menor cantidad</ion-label>
                        </ion-item>
                    </ion-list>
                </ng-template>
            </ion-popover>
        </ion-buttons>
    </ion-toolbar>


    <ion-list>
        <ng-container *ngFor="let in of counter(20) ;let i = index">
            <ion-item>
                <ion-avatar slot="start">
                    <img src="./../../../../assets/t-ingredients/vegetales.png" />
                </ion-avatar>
                <ion-label>
                    <h2>Vegetales</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="./../../../../assets/t-ingredients/frutas.png" />
                </ion-avatar>
                <ion-label>
                    <h2>Frutas</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="./../../../../assets/t-ingredients/carnes.png" />
                </ion-avatar>
                <ion-label>
                    <h2>Carnes</h2>
                </ion-label>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>

<ion-footer collapse="fade">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-button id="modal-add-ingredient" expand="block">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>

<app-add-ingredient (onWillDismissEvent)="onWillDismissEvent($event)"></app-add-ingredient>
