.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }

  .sticky-box {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--ion-background-color);
}