<ion-toolbar>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>

  <ion-toolbar class="ion-align-items-center">
    <ion-chip>Recetario</ion-chip>
    <ion-chip>Favoritas</ion-chip>
    <ion-buttons slot="end">
      <ion-button id="click-trigger">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-list>
            <ion-item button>
              <ion-label>Próximos a vencer</ion-label>
            </ion-item>
            <ion-item button>
              <ion-label>Mayor cantidad</ion-label>
            </ion-item>
            <ion-item button>
              <ion-label>Menor cantidad</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>

  <ng-container *ngFor="let in of counter(5) ;let i = index">
    <ion-card style="width: 95%;">
      <ion-card-header>
        <ion-card-title>Receta de tal cosa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          Ingrediente <br>
          Ingrediente <br>
          Ingrediente <br>
          Ingrediente <br>
          ...
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button expand="block">
              <ion-icon name="star-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="openModal(i)" expand="block">
              Ver receta
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
